[Desktop Entry]
Version=1.0
Type=Application
Name=Make Your Choice
Comment=DbD Server Region Selector
Exec=make-your-choice
Icon=make-your-choice
Terminal=false
Categories=Network;Utility;
StartupWMClass=dev.lawliet.makeyourchoice
